﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="35" layout="column">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image" alt="Users">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">User Management</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        User Management is an authentication feature that provides administrators with the ability to identify and control the state of users logged into the application.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <a href="@Url.Action("Users", "Admin")">Explore</a>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="35" layout="column">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image" alt="Planes">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Plane Management</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                       Manage plane information.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <a href="@Url.Action("Planes", "Admin")">Explore</a>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="35" layout="column">
            <md-card>
                <img ng-src="{{imagePath}}" class="md-card-image" alt="Airports">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Airport Management</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Manage airport information.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <a href="@Url.Action("Airports", "Admin")">Explore</a>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>

