﻿@{
    ViewBag.Title = "Planes";
}

<div ng-controller="PlanesCtrl" ng-init="init()" ng-cloak>
    <div class="row">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Plane Management
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content class="full-heigth">
            <div class="col-md-4">
                @*Search*@
                <md-content>
                    <div class="search">
                        <h4>Enter Criteria</h4>
                        <div flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input ng-model="search.name">
                            </md-input-container>
                        </div>
                        <div flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Code</label>
                                <input ng-model="search.code">
                            </md-input-container>
                        </div>
                        <div flex-gt-xs>
                            <h4>Status</h4>
                            <md-switch ng-model="search.active" aria-label="Active">Active</md-switch>
                            <md-switch ng-model="search.inactive" aria-label="Inactive">Inactive</md-switch>
                        </div>
                        <div flex-gt-xs class="text-right">
                            <md-button class="md-raised md-primary" ng-click="clearSearch()">Clear</md-button>
                            <md-button class="md-raised md-primary" ng-click="searchItem()">Search</md-button>
                        </div>
                    </div>
                </md-content>
            </div>
            <div class="col-md-8">
                @*List*@
                <md-content ng-hide="listingLoaded">
                    <div layout="row" layout-align="center center" class="loading">
                        <div layout="space-around"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
                    </div>
                </md-content>
                <md-content ng-show="listingLoaded">
                    <md-list class="md-dense" flex ng-if="itemCount==0">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>No items to display</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-list class="md-dense" flex ng-if="itemCount>0">
                        <md-subheader class="md-no-sticky">
                            {{itemCount}} item(s) shown
                            <span class="pull-right">{{done}}</span>
                        </md-subheader>
                        <div class="scrollbar" id="divScrollBar" ng-show="listingLoaded">
                            <md-list-item class="md-3-line" ng-repeat="item in items" ng-click="showDialog('update', item, $event)">
                                <img class="md-avatar" alt="{{item.Name}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.Name }}</h3>
                                    <h4>{{ item.Code }}</h4>
                                    <h4 ng-show="(item.Active==true)">Active</h4>
                                    <h4 ng-show="(item.Active==false)">Inactive</h4>
                                </div>
                                <md-icon aria-label="Update" class="md-secondary" md-svg-icon="white_edit" ng-click="showDialog('update', item, $event)"></md-icon>
                            </md-list-item>
                        </div>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
                <md-button class="md-fab md-fab-bottom-right" aria-label="New" ng-if="listingLoaded">
                    <md-icon md-svg-icon="white_person_add" ng-click="showDialog('create', undefined, $event)"></md-icon>
                </md-button>
            </div>
        </md-content>
    </div>
</div>


@section controllers {
    <script type="text/javascript">
        app.controller('PlanesCtrl', function ($scope, $http, $filter, $mdDialog, $mdToast) {
            var imagePath = 'img/list/60.jpeg';

            $scope.init = function () {
                $scope.listingLoaded = false;
                $scope.search = {};
                $scope.getItems();
            }

            $scope.itemCount = 0;
            $scope.getItems = function () {
                var url = '@Url.Content("~/admin/getPlanes")';

                $scope.listingLoaded = false;
                $scope.itemCount = 0;
                return $http.post(url, {
                    'filter': $scope.search
                }).then(function successCallback(result) {
                    if (result.data.Success) {
                        $scope.items = result.data.Payload;
                        $scope.itemCount = result.data.Total;
                        $scope.listingLoaded = true;
                    }
                }, function errorCallback(result) {
                    $scope.listingLoaded = true;
                });
            };

            $scope.searchItem = function () {
                $scope.getItems();
            };

            $scope.clearSearch = function () {
                $scope.search = {};
                $scope.getItems();
            };

            $scope.showDialog = function (action, data, event) {
                var tempData = undefined;
                if (data === undefined) {
                    tempData = {};
                } else {
                    tempData = data;
                }
                $mdDialog.show({
                    controller: PlaneController,
                    templateUrl: 'plane.tmpl.html',
                    parent: angular.element(document.body),
                    targetEvent: event,
                    clickOutsideToClose:true,
                    fullscreen: $scope.customFullscreen,

                    bindToController: true,
                    locals: {
                        action: action,
                        item: tempData
                    },
                })
                .then(function () {
                    $scope.done = 'Last action completed: ' + action;
                    // refresh list
                    $scope.getItems();
                });
            }

            function simpleToastBase(message, position, delay, action) {
                $mdToast.show(
                    $mdToast.simple()
                        .content(message)
                        .position(position)
                        .hideDelay(delay)
                        .action(action)
                );
            }

            function showMsg(message) {
                simpleToastBase(message, 'bottom right', 6000, 'X');
            }

            function PlaneController($scope, $mdDialog, action, item) {
                $scope.action = action;
                $scope.item = item;

                $scope.cancel = function () {
                    $mdDialog.cancel();
                };

                if (action == "view") {
                    view();
                }

                $scope.save = function () {
                    switch (action) {
                        case 'create':
                            {
                                create();
                                break;
                            }
                        case 'update':
                            {
                                update();
                                break;
                            }
                    }

                    $mdDialog.hide();
                };

                function create() {
                    var url = '@Url.Content("~/admin/createPlane")';

                    return $http.post(url, {
                        'model': $scope.item
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            showMsg(result.data.Message);
                        }
                    });
                }

                function update() {
                    var url = '@Url.Content("~/admin/updatePlane")';

                    return $http.post(url, {
                        'model': $scope.item
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            showMsg(result.data.Message);
                        }
                    });
                }

                function view() {
                    var url = '@Url.Content("~/admin/getplane")';

                    return $http.get(url, {
                        'id': $scope.item.id
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            $scope.user = result.data.Payload
                        }
                    });
                }
            }
        });

        $(document).ready(function ($) { /**/ });
    </script>

    <script type="text/ng-template" id="plane.tmpl.html">
        <md-dialog aria-label="Plane Info">
            <form name="inputForm" ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{action | uppercase}} - Plane Info</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input name="Name" ng-model="item.Name" md-maxlength="30" required>
                            <ng-messages for="inputForm.Name.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Code</label>
                            <input name="Code" ng-model="item.Code" md-maxlength="30" required>
                            <ng-messages for="inputForm.LastName.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>
                        
                        <h5>Status</h5>
                        <md-switch ng-model="item.Active" aria-label="Active">Active</md-switch>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button ng-click="save()" ng-disabled="inputForm.$invalid">
                        Save
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
}