﻿@{
    ViewBag.Title = "Users";
}

<div ng-controller="UsersCtrl" ng-init="init()" ng-cloak>
    <div class="row">
        <md-toolbar>
            <div class="md-toolbar-tools">
                User Management
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content class="full-heigth">
            <div class="col-md-4">
                @*Search*@
                <md-content>
                    <div class="search">
                        <h4>Enter Criteria</h4>
                        <div flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Enter First Name</label>
                                <input ng-model="search.firstName">
                            </md-input-container>
                        </div>
                        <div flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Enter Last Name</label>
                                <input ng-model="search.lastName">
                            </md-input-container>
                        </div>
                        <div flex-gt-xs>
                            <h4>User Type</h4>
                            <md-switch ng-model="search.admin" aria-label="Admin">Admin</md-switch>
                            <md-switch ng-model="search.student" aria-label="Student">Student</md-switch>
                            <md-switch ng-model="search.tutor" aria-label="Tutor">Tutor</md-switch>
                        </div>
                        <div flex-gt-xs>
                            <h4>Status</h4>
                            <md-switch ng-model="search.active" aria-label="Active">Active</md-switch>
                            <md-switch ng-model="search.inactive" aria-label="Inactive">Inactive</md-switch>
                        </div>
                        <div flex-gt-xs class="text-right">
                            <md-button class="md-raised md-primary" ng-click="clearSearch()">Clear</md-button>
                            <md-button class="md-raised md-primary" ng-click="searchUser()">Search</md-button>
                        </div>
                    </div>
                </md-content>
            </div>
            <div class="col-md-8 search-result">
                @*List*@
                <md-content ng-hide="listingLoaded">
                    <div layout="row" layout-align="center center" class="loading">
                        <div layout="space-around"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
                    </div>
                </md-content>
                <md-content ng-show="listingLoaded">
                    <md-list class="md-dense" flex ng-if="userCount==0">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>No items to display</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <md-list class="md-dense" flex ng-if="userCount>0">
                        <md-subheader class="md-no-sticky">
                            {{userCount}} item(s) shown
                            <span class="pull-right">{{done}}</span>
                        </md-subheader>
                        <div class="scrollbar" id="divScrollBar">
                            <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="showDialog('update', user, $event)">
                                <img class="md-avatar" alt="{{user.Type}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ user.FirstName + ' ' + user.LastName}}</h3>
                                    <h4>{{ user.Type }}</h4>
                                    <h4 ng-show="(user.Active==true)">Active</h4>
                                    <h4 ng-show="(user.Active==false)">Inactive</h4>
                                </div>
                                <md-icon aria-label="Update" class="md-secondary" md-svg-icon="white_edit" ng-click="showDialog('update', user, $event)"></md-icon>
                            </md-list-item>
                        </div>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
                <md-button class="md-fab md-fab-bottom-right" aria-label="New" ng-if="listingLoaded">
                    <md-icon md-svg-icon="white_person_add" ng-click="showDialog('create', undefined, $event)"></md-icon>
                </md-button>
            </div>
        </md-content>
    </div>
</div>


@section controllers {
    <script type="text/javascript">
        app.controller('UsersCtrl', function ($scope, $http, $filter, $mdDialog, $mdToast) {
            var imagePath = 'img/list/60.jpeg';

            $scope.init = function () {
                $scope.listingLoaded = false;
                $scope.search = {};
                $scope.getUsers();
            }

            $scope.userCount = 0;
            $scope.getUsers = function () {
                var url = '@Url.Content("~/admin/getUsers")';

                $scope.listingLoaded = false;
                $scope.userCount = 0;
                return $http.post(url, {
                    'filter': $scope.search
                }).then(function successCallback(result) {
                    if (result.data.Success) {
                        $scope.users = result.data.Payload;
                        $scope.userCount = result.data.Total;
                        $scope.listingLoaded = true;
                    }
                }, function errorCallback(result) {
                    $scope.listingLoaded = true;
                });
            };

            $scope.searchUser = function () {
                //console.log(JSON.stringify($scope.search));
                $scope.getUsers();
            };

            $scope.clearSearch = function () {
                $scope.search = {};
                $scope.getUsers();
            };

            $scope.showDialog = function (action, data, event) {
                var tempData = undefined;
                if (data === undefined) {
                    tempData = {};
                } else {
                    tempData = data;
                }
                $mdDialog.show({
                    controller: UserController,
                    templateUrl: 'user.tmpl.html',
                    parent: angular.element(document.body),
                    targetEvent: event,
                    clickOutsideToClose:true,
                    fullscreen: $scope.customFullscreen,

                    bindToController: true,
                    locals: {
                        action: action,
                        item: tempData
                    },
                })
                .then(function () {
                    $scope.done = 'Last action completed: ' + action;
                    // refresh list
                    $scope.getUsers();
                });
            }

            function simpleToastBase(message, position, delay, action) {
                $mdToast.show(
                    $mdToast.simple()
                        .content(message)
                        .position(position)
                        .hideDelay(delay)
                        .action(action)
                );
            }

            function showMsg(message) {
                simpleToastBase(message, 'bottom right', 6000, 'X');
            }

            function UserController($scope, $mdDialog, action, item) {
                $scope.action = action;
                $scope.user = item;

                $scope.cancel = function () {
                    $mdDialog.cancel();
                };

                if (action == "view") {
                    view();
                }

                $scope.save = function () {
                    switch (action) {
                        case 'create':
                            {
                                create();
                                break;
                            }
                        case 'update':
                            {
                                update();
                                break;
                            }
                        case 'activate':
                            {
                                activate();
                                break;
                            }
                        case 'deactivate':
                            {
                                deactivate();
                                break;
                            }
                    }

                    $mdDialog.hide();
                };

                function create() {
                    var url = '@Url.Content("~/admin/createUser")';

                    return $http.post(url, {
                        'model': $scope.user
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            showMsg(result.data.Message);
                        }
                    });
                }

                function update() {
                    var url = '@Url.Content("~/admin/updateUser")';

                    return $http.post(url, {
                        'model': $scope.user
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            showMsg(result.data.Message);
                        }
                    });
                }

                function view() {
                    var url = '@Url.Content("~/admin/getuser")';

                    return $http.get(url, {
                        'id': $scope.user.id
                    }).then(function (result) {
                        if (!(result.data.Success)) {
                            // show error
                            showMsg('Error occurred, please try again later');
                        } else {
                            $scope.user = result.data.Payload
                        }
                    });
                }
            }
        });

        $(document).ready(function ($) { /**/ });
    </script>

    <script type="text/ng-template" id="user.tmpl.html">
        <md-dialog aria-label="User Info">
            <form name="inputForm" ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{action | uppercase}} - User Info</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input name="FirstName" ng-model="user.FirstName" md-maxlength="30" required>
                            <ng-messages for="inputForm.FirstName.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input name="LastName" ng-model="user.LastName" md-maxlength="30" required>
                            <ng-messages for="inputForm.LastName.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>User Name</label>
                            <input name="Username" ng-model="user.Username" md-maxlength="30" required>
                            <ng-messages for="inputForm.Username.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input name="Password" ng-model="user.Password" md-maxlength="30" required>
                            <ng-messages for="inputForm.Password.$error">
                                <ng-message when="required">Required</ng-message>
                                <ng-message when="md-maxlength">Use 30 characters only</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <h5>Status</h5>
                        <md-switch ng-model="user.Active" aria-label="Active">Active</md-switch>

                        <h5>Type</h5>
                        <md-radio-group ng-model="user.Type">
                            <md-radio-button value="Admin" class="md-primary">Admin</md-radio-button>
                            <md-radio-button value="Student">Student</md-radio-button>
                            <md-radio-button value="Tutor">Tutor</md-radio-button>
                        </md-radio-group>

                    </div>
                </md-dialog-content>
                
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button ng-click="save()" ng-disabled="inputForm.$invalid">
                        Save
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
}