﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*custom*/
.scrollbar
{
    /*margin-left: 30px;*/
    float: left;
    height: 550px;
    width: 100%;
    background: #F5F5F5;
    overflow-y: auto;
    /*margin-bottom: 25px;*/
}

#divScrollBar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#divScrollBar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#divScrollBar::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}

.search {
    height: 600px; 
    overflow-y:auto; 
    padding:20px;
}

.loading{
    height: 100px;
}